[Unit]
Description="Run arch_updater.service after reboot"

[Timer]
#OnCalendar=*-*-* 11:00
OnBootSec=10sec
Unit=arch_updater.service

[Install]
WantedBy=timers.target