[Unit]
Description="ArchLinux updater"
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/arch_updater.sh

[Install]
WantedBy=graphical.target
