[Unit]
Description="Run arch_updater.service daily at 11:00"

[Timer]
OnCalendar=*-*-* 11:00
#OnBootSec=15min
Unit=arch_updater.service

[Install]
WantedBy=graphical.target